.git
.pnpm-store
.skills
参考资料
doc
docs
miaoxiang
data
reports
database/*.db
database/*.log
frontend/node_modules
frontend/dist
frontend/.umi
backend/.venv
backend/**/__pycache__
**/__pycache__
**/*.pyc
.DS_Store
